<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="window.location.href = '/addCourse'"> Add Course </button>
    <button onclick="window.location.href = '/addProgram'"> Add Program</button>
    <button onclick="window.location.href = '/addDegree'"> Add Degree</button>
    <button onclick="window.location.href = '/addBranch'"> Add Branch</button>
    <button onclick="window.location.href = '/addSemester'"> Add Semester</button>
</body>
</html>